header{
    text-align: center;
    height: 50px;
    background: rgb(255, 208, 0);
}
.nav{
    background-color: cornsilk;
}

body{
    background-color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    background-image: url(img/lamachine.png);
    background-size: cover;
}

.intro{ background-color: cornsilk;
}

table{
    border-collapse:collapse;
    margin:auto;
    background-color: rgb(223, 222, 222);
    height: 30em;
}

th{
    color:rgb(255, 251, 251);
    border:1px solid black;
    background: linear-gradient(rgb(90, 87, 250),rgb(152, 91, 250));
    }

    td{
        border:1px solid black;
        width: 100px;
        height: 50px;
        text-align: center;
    }

    img{
        width: auto;
        height: 150px;
        display: flex;
      margin: auto;
      left: auto;
    }
